---
# file: roles/ansible-bender/tasks/setup.yml

- name: Ensure the crb repository is enabled
  become: true
  community.general.dnf_config_manager:
    name: crb
    state: enabled
  when:
    - ansible_facts.os_family == "RedHat"
    - ansible_facts.distribution_major_version | int == 9

- name: "Install dependencies for ansible-bender."
  become: true
  ansible.builtin.package:
    name: "{{ ab_dependencies }}"
    state: "{{ ab_dependencies_package_state | default('present') }}"
  register: ab_dependencies_result
  when: not ansible_check_mode
  tags:
    - install

- name: "Install python dependencies"
  become: true
  ansible.builtin.pip:
    name: "{{ ab_python_dependencies }}"
    state: "{{ ab_python_package_state }}"
    umask: "0022"
    virtualenv: /usr/local
    virtualenv_site_packages: true
  when: not ansible_check_mode
  environment:
    TMPDIR: /var/tmp
  tags:
    - install

- name: "Install ansible-bender"
  become: true
  ansible.builtin.pip:
    name: ansible-bender
    version: "{{ ab_version | default(omit) }}"
    umask: "0022"
    virtualenv: /usr/local
    virtualenv_site_packages: true
  tags:
    - install
